.popup__img_container-form-toggle_close {
  position: absolute;
  z-index: 5;
  top: 40px;
}
.popup__img_container-form-toggle_close:hover {
  opacity: 0.4;
  transition: opacity 0.5s linear;
  cursor: pointer;
}
